* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #34495e;
    color: #fff; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url(./fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    margin: 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  
  .figure-container {
    fill: transparent;
    stroke: rgb(75, 75, 75);
    stroke-width: 4px;
    stroke-linecap: round;
  }
  .figure-part {
    display: none;
    color: black;
    background-color: #34495e;
    opacity:1;
    z-index: 12;
  }
  .figure-part.show {
    display: block;
    opacity: 1;
  }
  .wrong-letters-container {
    position: absolute;
    top: 10px;
    right: 1%;
    display: flex;
    flex-direction: column;
    width: 15%;
  }
  
  .wrong-letters-container p {
    margin: 0 0 5px;
    text-align: center;
  }
  @media screen and (max-width: 800px) {    
    .wrong-letters-container p {
      opacity: 0;
    }
  }
  .wrong-letters-container span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    height: 100%;
    text-align: center;
  }
  .word {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
  }
  
  .letter {
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
    border-bottom: 5px solid rgb(124, 124, 124);
  }
  
  .popup-container {
    background-color: #34495e;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .popup {
    background: #34495e;
  }
  @media screen and (max-width: 600px) {    
    .popup {
      right: 16%;
      margin-left: 30px;
    } 
  }
  .popup button {
    cursor: pointer;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
  }
  
  .popup button:active {
    transform: scale(0.98);
  }
  
  .popup button:focus {
    outline: 0;
  }
  .notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    top: -130px;

  }
  
  .notification-container p {
    margin: 0;
    font-size: 20px;
  }
  
  .card{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 4px 15px 10px 3px rgba(0, 0, 0, 0.1);
    opacity: .8;
  }
  @media screen and (max-width: 600px) {    
    .card{
        height: 90vh;
    }
  }
  .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  